@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Rubik';
  src: url(./fonts/RubikMarkerHatch-Regular.ttf);
}

* {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

/* HEADER */
#content {
  min-height: 100vh;
  height: auto;
  background-image: url(./icons/pexels-engin-akyurt-1493226.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template: 1fr 8fr / 1fr 2.5fr;
}

.header {
  background-color: transparent;
  grid-area: 1 / 1 / 2 / 3;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.header .title, .header .add-project {
  border: none;
  background-color: #fafafa;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 15px 30px;
  box-shadow: 0px 6px 10px -3px rgba(0,0,0);
}

.header .title .logo {
  width: 50px;
  height: 50px;
  background-image: url(./icons/hedgehog-svgrepo-com.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.header .title .text {
  font-size: 1.8rem;
  font-weight: 700;
  color: #525252;
}

.add-project:hover {
  background-color: #aeffa1;
}

.add-project:active {
  background-color: #63ff4b;
}

.add-project .text {
  font-size: 1.8rem;
  font-weight: 700;
  color: #525252;
}

.add-project .icon {
  width: 45px;
  height: 45px;
  background-image: url(./icons/plus-svgrepo-com.svg);
  background-position: center;
  background-repeat: no-repeat;
  filter: contrast(0.4);
}

/* javascript generated content from here */


/* SIDEBAR */
.sidebar {
  grid-area: 2 / 1 / 3 / 2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar-item {
  border-left: 5px solid red;
  background-color: #fafafa;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0px 6px 10px -3px rgba(0,0,0);
}

.sidebar-item:hover {
  scale: 1.025;
  transition: 200ms;
}

.sidebar-item .title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #525252;
}

.sidebar-item button {
  background-color: transparent;
  border: none;
  height: 40px;
  width: 40px;
  background-image: url(./icons/close-circle-outline.svg);
  background-position: center;
  background-repeat: no-repeat;
  filter: contrast(0.4);
}

.sidebar-item button:hover {
  filter: invert(51%) sepia(79%) saturate(1081%) hue-rotate(319deg) brightness(109%) contrast(123%);
}

.sidebar-item button:active {
  filter: invert(22%) sepia(96%) saturate(6883%) hue-rotate(2deg) brightness(92%) contrast(122%);
}

/* MAIN */
