@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Rubik';
  src: url(./fonts/RubikMarkerHatch-Regular.ttf);
}

* {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: auto;
}

/* HEADER */
#content {
  background-image: url(./icons/pexels-engin-akyurt-1493226.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template: 1fr 8fr / 1fr 4fr;
}

.header {
  background-color: transparent;
  grid-area: 1 / 1 / 2 / 3;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.header .title, 
.header .add-project,
.header .load-storage {
  border: none;
  background-color: #fafafa;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 15px 30px;
  box-shadow: 0px 6px 10px -3px rgba(0,0,0);
}

.header .title .logo {
  width: 50px;
  height: 50px;
  background-image: url(./icons/hedgehog-svgrepo-com.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.header .title .text {
  font-size: 1.8rem;
  font-weight: 700;
  color: #525252;
}

.add-project:hover {
  scale: 1.025;
  transition: 200ms;
}

.add-project:active {
  scale: 1;
  transition: 0ms;
}

.add-project .text {
  font-size: 1.8rem;
  font-weight: 700;
  color: #525252;
}

.add-project .icon {
  width: 45px;
  height: 45px;
  background-image: url(./icons/plus-svgrepo-com.svg);
  background-position: center;
  background-repeat: no-repeat;
  filter: contrast(0.4);
}

.load-storage .text {
  font-size: 1.8rem;
  font-weight: 700;
  color: #525252;
}

.load-storage:hover {
  scale: 1.025;
  transition: 200ms;
}

.load-storage:active {
  scale: 1;
  transition: 0ms;
}

/* javascript generated content from here */


/* SIDEBAR */
.sidebar {
  grid-area: 2 / 1 / 3 / 2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar-item {
  background-color: #fafafa;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  box-shadow: 0px 6px 10px -3px rgba(0,0,0);
}

.sidebar-item:hover {
  scale: 1.025;
  transition: 200ms;
}

.sidebar-item:active {
  scale: 1;
  transition: 0ms;
}

.sidebar-item .title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #525252;
  flex: 1;
}

/* MAIN */

.main {
  background-color: transparent;
  grid-area: 2 / 2 / 3 / 3;
  padding: 10px;
}

.project-container {
  display: grid;
  background-color: #fafafa;
  grid-template-columns: 1fr 1.5fr;
  column-gap: 20px;
  border-radius: 50px;
  box-shadow: 0px 6px 10px -3px rgba(0,0,0);
}

/* title */

.title-container {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  padding: 40px 40px 10px 10px;
  align-items: center;
  align-self: start;
}

.title-container .title {
  margin: 0;
  color: #525252;
  font-size: 2rem;
  font-weight: 700;
  flex: 1;
}

.title-container .close {
  background-color: transparent;
  border: none;
  width: 50px;
  height: 50px;
  background-image: url(./icons/close-circle-outline.svg);
  background-position: center;
  background-repeat: no-repeat;
  filter: contrast(0.4);
}

.title-container .close:hover {
  scale: 1.1;
  transition: 200ms;
}

.title-container .close:active {
  scale: 1;
  transition: 0ms;
}

/* checklist */

.checklist {
  grid-area: 1 / 1 / 4 / 2;
  padding: 40px 10px 40px 40px;
}

.checklist .add-item {
  color: #525252;
  background-color: #fafafa;
  font-size: 1.3rem;
  padding: 10px 20px;
  border: 1px solid #525252;
  border-radius: 30px;
}

.checklist .add-item:hover {
  background-color: #63ff4b;
  transition: 200ms;
}

.checklist .add-item:active {
  background-color: #fafafa;
  transition: 0ms;
}

.checklist .all-items {
  margin: 25px 0px;
  list-style-type: circle;
}

.list-item {
  display: flex;
  gap: 5px;
  justify-content: start;
  padding-bottom: 15px;
}

.project-container .checklist .text {
  border: none;
  font-size: 1.3rem;
  color: #525252;
  background-color: #fafafa;
  padding: 0;
  margin: 0;
  flex: 1;
  text-align: justify;
}

.project-container .checklist .text:hover {
  color: #6e6e6e;
}

.project-container .checklist .text.checked {
  text-decoration: line-through;
}

.checklist .remove-item {
  background-color: transparent;
  border: none;
  width: 25px;
  height: 25px;
  background-image: url(./icons/close-circle-outline.svg);
  background-position: center;
  background-repeat: no-repeat;
  filter: contrast(0.4);
}

.checklist .remove-item:hover {
  filter: invert(16%) sepia(98%) saturate(7485%) hue-rotate(360deg) brightness(113%) contrast(107%);
}

/* project description */

.project-container .text {
  margin-bottom: 25px;
  grid-area: 2 / 2 / 3 / 3;
  padding: 12px 40px 10px 10px;
  color: #525252;
  font-size: 1.3rem;
}

/* info on bottom of project window */

.info {
  grid-area: 3 / 2 / 4 / 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 10px 40px 40px 10px;
  align-items: center;
  gap: 10px;
  align-self: end;
}

.info .due-date1 {
  grid-area: 1 / 1 / 2 / 2;
}

.info .due-date2 {
  grid-area: 2 / 1 / 3 / 2;
}

.info .due-date2:hover {
  scale: 1.1;
  transition: 200ms;
}

.info .due-date2:active {
  scale: 1;
  transition: 0ms;
}

.info .priority1 {
  grid-area: 1 / 2 / 2 / 3;
}

.info .priority2 {
  grid-area: 2 / 2 / 3 / 3;
}

.info .priority2:hover {
  scale: 1.1;
  transition: 200ms;
}

.info .priority2:active {
  scale: 1;
  transition: 0ms;
}

.info .remove {
  grid-area: 1 / 3 / 3 / 4;
}

.info .remove:hover {
  scale: 1.1;
  transition: 200ms;
}

.info .remove:active {
  scale: 1;
  transition: 0ms;
}

.info div,
.info button {
  text-align: center;
  flex: 1;
  color: #525252;
  font-size: 1.5rem;
  font-weight: 700;
}

.info .remove {
  background-image: url(./icons/trash-can-outline.svg);
  background-color: transparent;
  border: none;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  filter: contrast(0.4);
}

.info .remove:hover {
  filter: invert(16%) sepia(98%) saturate(7485%) hue-rotate(360deg) brightness(113%) contrast(107%);
}

/* task form popup */

.checklist-form {
  position: fixed;
  left: 30%;
  top: 5%;
  background-color: #fafafa;
  padding: 30px;
  box-shadow: 0px 6px 10px -3px rgba(0,0,0);
  border-radius: 35px;
}

.checklist-form .legend {
  margin-bottom: 20px;
  color: #525252;
  font-size: 1.3rem;
  font-weight: 700;
}

.task-container label, .task-container #task,
.checkbox-container label, .checkbox-container #done {
  color: #525252;
  font-size: 1.3rem;
  margin-right: 5px;
}

.checkbox-container,
.task-container {
  margin-bottom: 20px;
}

.submit-task, .cancel-task {
  background-color: #c9c9c9;
  padding: 4px 8px;
  border: none;
  border-radius: 8px;
  margin: 0 10px;
  color: #525252;
  font-size: 1.3rem;
}

.submit-task:hover, .cancel-task:hover {
  scale: 1.025;
  transition: 200ms;
}

.submit-task:active, .cancel-task:active {
  scale: .975;
  transition: 100ms;
}

/* project form popup */

.project-form {
  position: fixed;
  left: 30%;
  top: 5%;
  background-color: #fafafa;
  padding: 30px;
  box-shadow: 0px 6px 10px -3px rgba(0,0,0);
  border-radius: 35px;
}

.project-form .legend {
  margin-bottom: 20px;
  color: #525252;
  font-size: 1.3rem;
  font-weight: 700;
}

.project-title-container label, .project-title-container #title,
.description-container label, .description-container #description,
.priority-container label, .priority-container #priority,
.duedate-container label, .duedate-container #date {
  color: #525252;
  font-size: 1.3rem;
  margin-right: 5px;
}

.description-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-title-container,
.description-container,
.priority-container,
.duedate-container {
  margin-bottom: 20px;
}

.submit-project, .cancel-project {
  background-color: #c9c9c9;
  padding: 4px 8px;
  border: none;
  border-radius: 8px;
  margin: 0 10px;
  color: #525252;
  font-size: 1.3rem;
}

.submit-project:hover, .cancel-project:hover {
  scale: 1.025;
  transition: 200ms;
}

.submit-project:active, .cancel-project:active {
  scale: .975;
  transition: 100ms;
}

/* duedate form popup */

.duedate-form {
  position: fixed;
  left: 30%;
  top: 5%;
  background-color: #fafafa;
  padding: 30px;
  box-shadow: 0px 6px 10px -3px rgba(0,0,0);
  border-radius: 35px;
}

.duedate-form .legend {
  margin-bottom: 20px;
  color: #525252;
  font-size: 1.3rem;
  font-weight: 700;
}

.submit-duedate, .cancel-duedate {
  background-color: #c9c9c9;
  padding: 4px 8px;
  border: none;
  border-radius: 8px;
  margin: 0 10px;
  color: #525252;
  font-size: 1.3rem;
}

.submit-duedate:hover, .cancel-duedate:hover {
  scale: 1.025;
  transition: 200ms;
}

.submit-duedate:active, .cancel-duedate:active {
  scale: .975;
  transition: 100ms;
}